<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" id="appIcon" type="image/x-icon" href="https://cms.blumewebsites.com/pops/website/favicon.png">
    <link rel="stylesheet" href="../css/login.css">
    <title>Inicio de sesión</title>

</head>
<body>
    <div class="login-container">
        <div class="logo">
            <span>P</span><span>O</span><span>P</span><span>S</span>
        </div>
        <h2>Bienvenido</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="ident">Identificación</label>
                <input type="text" id="ident" name="ident" required>
            </div>
            <div class="input-group">
                <label for="password">Clave</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="remember-forgot">
                <!--
                    <label class="remember-me">
                        <input type="checkbox" id="remember">
                        Remember me
                    </label>
                -->
                <a id="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" id="loginButton">Ingresar</button>
        </form>
        <!--<p class="signup-link">Don't have an account? <a href="#">Sign up</a></p>-->
    </div>

<script src="../js/login.js"></script>
</html>
