<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Inicio de sesión</title>

</head>
<body>
    <div class="login-container">
        <div class="logo">
            <span>P</span><span>O</span><span>P</span><span>S</span>
        </div>
        <h3>Ingresa tu identificación para solicitar un cambio de clave</h3>
        <br>
        <form id="loginForm">
            <div class="input-group">
                <label for="ident">Identificación</label>
                <input type="text" id="ident" name="ident" required>
            </div>
            <button type="submit" id="loginButton">solicitar cambio</button>
        </form>
    </div>

<script src="../js/requestChangePassword.js"></script>
</html>
